<% layout('layouts/boilerplate')%>
<!DOCTYPE html>


<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
    <title>Home</title>
	



</head>

<body>
<button id = "dark" style="float:right" onclick="darkMode()">Dark Mode / Pink Mode</button>
	<h2 style="text-align:center">Transgender FAQ</h2> <br>
	<h5 style="text-align:center">Let's talk about some common misconceptions in a polite and easy to understand way, politics aside.</h5>
<br>

<h2>The Whats:</h2>
	
	<button class="collapsible">What are trans people like?</button>
	<div class="content">
	  <p> To put it simply, trans people are just people. They were born with a mismatch between body and mind and have to cope with this disadvantage. In most cultures, they face oppression and discrimination.
	  Some of them are most certainly angry at the world. Consider if other minorities were constantly in the news with headlines reading, "New [minority] law to stop them from being able to ______". Imagine wanting to live a normal life but having to explain yourself constantly to people who just don't get it or don't accept it. For this reason, they tend to stick together.
	  <br><br>After awhile, it gets tiring dealing with people who are unhappy with their existence. Some trans people are optimistic and don't let others opinions affect them, but they still need to be on guard just in case they become a target and potential victim.
	  As support for trans people grows, the backlash from transphobic people intensifies, leaving trans people right in the middle, whether they want all the attention or not. Consider that most trans people try to blend in and you only hear about the staunch activists who seek attention and change.
	  </p>
	</div>
	<button class="collapsible">What is a woman, anyway?</button>
	<div class="content">
	  <p> This type of question is often asked in bad faith as a "gotcha" question. It would be similar to asking, "What is the color green? Is it still green if you add a little blue?" or "You painted the wall red but isn't it still technically white underneath?" or "The very first definition of water mentions it is colorless, transparent, and odorless, so is a river really water?" 
	  Some words are more of a collaborative consensus and lack defining characteristics and nowadays, like it or not, "woman" is often used differently than in the past. <br><br>
	  A woman is defined as an adult human female. Different dictionaries will give you different subjective definitions of a female. Even though an objective definition of female is, "of the sex that can produce eggs and give birth to young", 
		not every cis woman can produce eggs nor bear a child, and they are considered by most to be women. Therefore, if being a woman is a matter of being seen as a woman by yourself and/or others, the definition depends on what society considers a woman. <br><br>
		Women come in all shapes and sizes. If a trans woman went through surgeries, takes feminizing hormones, walks, talks, acts, and thinks like a woman, calling them a man is only showing disrespect. If it looks like a duck, swims like a duck, quacks like a duck, and believes it is a duck, there is little reason not to refer to it as one, at the very least out of respect.
		
	  </p>
	  </div>
		<button class="collapsible">What is stopping someone from identifying as anything they want?</button>
	<div class="content">
	  <p> Anyone can identify as anything. If you truly feel like you are the Great Wall of China, you are allowed to think of yourself as so. 
	  Socially and professionally, identifying as something most consider absurd will cause a significant amount of confusion and disrespect. Some people go through phases of identifying as something they are not or cannot be or are simply following a trend.<br><br>
	  However, if someone's misalignment between their mind and body causes them severe dysphoria, their transition will be worth it, no matter how they are perceived by others. For many, transitioning is worth the risk of being shamed or assaulted. 96% of trans people who start hormone therapy continue for the rest of their lives.
	  <br><br> In addition, online trans communities often reject xenogenders and neopronouns and dismiss them as mere trends that harm the image of trans people who often desire only to live their lives in peace.
	  Thus, the age old joke about "identifying as an attack helicopter" is a strawman equating gender identity with a trend. 
	 
	  </p>
	</div>
		<button class="collapsible">What does it feel like to be trans?</button>
	<div class="content">
	  <p>
	 Imagine waking up as the opposite sex for a day. <br><br>

	 If you are a man, imagine having a feminine, curvy figure. Your voice sounds like a woman's. You're shorter than you'd like to be. Your emotions are stronger than they should be.
	 You're weaker than you feel you should be. Everyone treats you like a woman, despite the fact that you feel like a man. 
	 <br><br> If you are a woman, imagine if you body were covered in hair from head to toe. You have a flat chest and rough skin. You're much taller and larger than other women and you feel out of place.
	 You feel a wall between yourself and your emotions and feel more aggressive than you should be.
	 <br><br> While this thought experiment can give you an idea of what it's like to be trans, you cannot truly know what it is like to be "stuck in the wrong body" long term, unless you have such a hormonal imbalance.
	 Having an improper hormonal balance <a href="https://pubmed.ncbi.nlm.nih.gov/23728883/"> can cause severe depression and anxiety</a>, even if you are not trans. Keep in mind that transitioning takes years, so even taking the steps needed to be happy doesn't give immediate results.
	 For many, transitioning is a very difficult "do or die" process and the experience can be difficult to describe with mere words.
	  </p>
	</div>
	<br>

	<h2>The Whys:</h2>
	<button class="collapsible">Why transition in the first place?</button>
	<div class="content">
	  <p> Cleveland Health Clinic explains on <a href="https://health.clevelandclinic.org/research-on-the-transgender-brain-what-you-should-know/"> this page</a> that most trans people transition because they feel an incongruence between their brain and their body.
	  </p>
	</div>
	<button class="collapsible">Why not just accept your body the way it is? Isn't it the same as other body image issues?</button>
	<div class="content">
	  <p>Trans people struggle with dysphoria. For some, dysphoria is manageable. However, it often worsens over time and should not be taken lightly. Many trans people have <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5178031/">suicidal thoughts</a> before transitioning. After transitioning, however, the thoughts almost always go away.
	  <br><br> For many trans people, a better question would be, "Why wouldn't I transition?" Despite the dangers and difficulties of transitioning, it almost always results in a better life.
	  </p>
	</div>
	</div>
	<button class="collapsible">Why are gender issues pushed to such extremes if being trans is so rare?</button>
	<div class="content">
	  <p>There is a lot of talk in the media about trans issues ranging from sports to bathrooms to teaching kids about gender.
	  Propoganda is often more effective when fear is added to the mix.
	  <br><br>1) Transgender Athletes: 
	  <br>
	  <a href=" https://www.webmd.com/fitness-exercise/news/20210715/do-trans-women-athletes-have-advantages">This</a> is a good read on trans-woman athletes. 
	  In summary, trans women who are taking hormones can still have an advantage depending on the sport, although they are often physically more similar to women than men.
	  It is up to debate which advantages are considered fair and unfair. Genetics, performance enhancing drugs, and having the means to access a professional coach can all determine the outcome in sports.
	  It is fine to have these debates, but it is crucial that these debates are done logically and are not personal attacks on trans people as a whole.
	  <br><br>2) Bathrooms: 
	  <br>
	  This argument has little credibility and is mostly fear-mongering. As it stands, trans people are often terrified when having to choose which bathroom to use and often opt to use unisex bathrooms whenever possible. The overstated fear of crimes in bathrooms has caused a significant amount of distress for the majority of trans people simply wanting to use the bathroom. Trans women are woefully aware that they have a greater likelihood of being assaulted in the bathroom than other women.
	  <br><br>Bathroom laws would be much less effective than the TSA at airports. If someone really wanted to commit assault, a bathroom law would do little to stop them.
	  In addition, public restrooms have stalls, which provide privacy and safety from others. Creepy people with bad intentions can be creepy anywhere and should be dealt with using the criminal justice system, not gender discrimination laws.
	  <br><br>Besides, if someone born as a woman surgically removed her sexual organs, took male hormones making them 6'5 with a hairy body and a deep voice, does it really make sense to say, "Ma'am, you're a woman, please use the woman's restroom"?
	  <br><br>3) Gender in Schools:	  
	  <br>
	  A great scare tactic often used in debates is to say, "Think of the children!". Most people don't know what actually happens in schools and assume the worst.
	  Should boys be put in dresses and play with dolls on Fridays just in case they might be trans? Of course not! Should a child who has severe dysphoria be allowed to see a gender therapist and try hormones after a year of therapy before puberty permantly changes their voice and body?
		It only seems fair that they should have that chance, assuming you believe that dysphoria is a real issue. 
		<br><br> But what about detransitioners? Some people start transitioning, whether because they thought it was trendy or because they were confused, only to later realize they were not trans to begin with. Detransitioners tend to be quite vocal about it too.
		This is why research on transgender issues is so important.
		<br><br> As it stands, the rate of detransitioning is very low, despite what the vocal minority might say. Not only is it low, but despite today's youth talking more about transgender issues, the rates are becoming even lower.
		This suggests that more people are realizing they are trans and not second guessing themselves after transitioning. Perhaps changing pronouns can be a trend, especially for some young teens who may regret it later, but <a href="https://www.openaccessgovernment.org/study-finds-2-5-of-transgender-kids-go-through-detransition/135029/">children who end up seeking hormones very rarely regret it.</a>
	  </p>
	</div>
	<br>
	
	
	<h2>The Hows:</h2>
	<button class="collapsible">How should Christians treat trans people?</button>
	<div class="content">
	  <p>Churches tend to be less exposed to the LGBT community and might wonder how they should perceive someone who is trans. What does the bible say? <br><br>According to Deuteronomy 22:5, <br><br>“A woman shall not wear a man’s apparel, nor shall a man put on a woman’s garment; for whoever does such things is abhorrent to the LORD your God,”
	  <br><br>
	  This is the verse most commonly brought up when referring to trans issues. According to <a href=" https://www.hrc.org/resources/what-does-the-bible-say-about-transgender-people"> this page</a>, some believe the prohibition was more of a way to reinforce previous instructions from the Torah that forbid “mixing” (for example, not blending fabrics, planting variations of seed or eating shellfish) and not relevant in our times.
	  <br><br>
	  Sometimes it is brought up that everyone was designed by God to be a certain way. With this logic, people should not wear glasses, have surgery of any kind, or take drugs (including caffeine) that affect your brain or body.
	  It is important to consider whether it is your faith that is causing you to feel strongly opposed to someone's lifestyle, or if it is simply disgust or unfamiliarity. If it is the latter, only research and introspection can help you become more accepting. 
	  <br><br> Telling a trans person they were made a certain way and shouldn't change their body or how they dress is hurtful and will not change their mind.
	  </p>
	</div>
	<button class="collapsible">How does someone know they are transgender?</button>
	<div class="content">
	  <p>People can realize they are trangender at any age. Some people trace their awareness back to earlier memories, while others spend years feeling like they don't fit in without understanding why. 
	  <br><br>
	  As transgender awareness becomes more widespread, more people are beginning to reflect and name their own experiences and feel more comfortable sharing them with others. One experiment that has helped many discover that they are trans is commonly referred to as "the button".
	  The idea is that you have a button that permanently turns you into the opposite sex and everyone in the world forgets you were ever your birth sex. A trans person would usually find this button appealing, while others would refuse to press the button if the results were permanent. 
	  This thought experiment is very helpful, as many people are made aware that the physical, monetary, and social burdens of transitioning prevented them from addressing their true feelings.
	  <br><br> 
	  One way to describe the feeling of being transgender is having the desire to be the opposite sex. For trans people, the feeling is often persistent and gets stronger overtime.
	  Repressing these feelings is dangerous and is known to backfire if not addressed. 
	  Addressing these feelings is the only way psychologists have found to cure gender dysphoria. By taking steps to transition, whether it be socially or medically, dysphoria is often abated.
	  <br><br> Transgender people know they are trans because they feel more comfortable after taking small steps towards transitioning until they become the person they feel they are inside.
	  The end result could be the opposite sex or somewhere in between, but once they reach that point, the constant yearning to transition often wanes.
	  </p>
	</div>
	<button class="collapsible">How does someone transition and how long does it take?</button>
	<div class="content">
	  <p>Many people are unaware of the transitioning process. It is different for both male to female and female to male transitions.
	  <br><br>
	  First, there is social transition. This involves being called the name you desire (many trans people change their name to reflect who they are), being referred to with your desired pronouns, and being treated like the gender you feel inside.
	  Socially transitioning is often very difficult at the beginning because transitioners see themselves in the mirror or are seen and treated as their birth sex by others and often feel like they are faking it (impostor syndrome).
	  The way you walk, talk, dress, and behave will likely change overtime. For Male to Female transitions, voice training is often necessary to sound feminine and often takes months or even years of training.
	  
	  <br><br> 
	  Next, there is physical transition. This could involve hormones or surgeries. Surgeries affect how others see you, as well as how you see yourself as a person. Hormones, however, are sought after more than surgeries, as they affect your whole body, as well as your mental state.
	  Hormones can make you "feel right" mentally and connect with your emotions in a way that you want. Without hormones, trans people often feel as though they have a hormonal imbalance.
	Hormones take years to achieve the most effects, which are determined by genetics. Most transitioners feel they enjoy the mental benefits within the first month and feel satisfied with the physical benefits after a year or two. Full results take about five years, but most of the changes happen in the first two years.
	  
	  <br><br>
	  
	  It should be noted that neither social nor physical transitions are required to be trans. Some transgender people will only do one or the other to ease their dysphoria and the extent of transitioning varies from person to person.
	 
	  </p>
	</div>
	<br>


	<script>
	var coll = document.getElementsByClassName("collapsible");
	var i;

	for (i = 0; i < coll.length; i++) {
	  coll[i].addEventListener("click", function() {
		this.classList.toggle("active");
		var content = this.nextElementSibling;
		if (content.style.maxHeight){
		  content.style.maxHeight = null;
		  content.style.border = '1px solid transparent';
		  content.style.visibility = 'hidden';
		} else {
		  content.style.maxHeight = content.scrollHeight + "px";
		  content.style.border='1px solid black';
		  content.style.visibility = 'visible';
		} 
	  });
	}
	
	
	function darkMode() {
   var element = document.body;
   element.classList.toggle("dark-mode");
   const collection =  document.querySelector('.container');
    collection.classList.toggle("dark-mode2");
}
	</script>

</body>

</html>